	{% extends 'base.html' %}

	{% block content %}
	

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							{% for image in product.product_images.all %}

							<div class="product-view">
								<img src="{{image.url}}" alt="">
							</div>

							{% endfor %}
							
						</div>
						<div id="product-view">
							{% for image in product.product_images.all %}

							<div class="product-view">
								<img src="{{image.url}}" alt="">
							</div>

							{% endfor %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							<div class="product-label">
								<span>New</span>
								<span class="sale">-20%</span>
							</div>
							<h2 class="product-name">{{product.title}}</h2>
							<h3 class="product-price">${{product.price}}</h3>
							
							<p><strong>Availability:</strong>{% if product.amount > 0 %} {{product.amount}} In Stock {% else %} Not Stock {% endif %} </p>
							<p><strong>Brand:</strong> E-SHOP</p>
							<p>{{product.detail}}</p>
							

							<div class="product-btns">
								<div class="qty-input">
									<span class="text-uppercase">QTY: </span>
									<input class="input" type="number">
								</div>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
								
							</div>
						</div>
					</div>
					
					</div>

				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->




{% endblock %}

